---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Hero from '../components/home/Hero.astro';
import Features from '../components/home/Features.astro';
import LatestPosts from '../components/home/LatestPosts.astro';
import Newsletter from '../components/home/Newsletter.astro';

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen bg-gray-50">
		<Header />
		<main>
			<Hero />
			<Features />
			<LatestPosts posts={posts} />
			<Newsletter />
		</main>
		<Footer />
	</body>
</html>